.anchor
.DS_Store
target
**/*.rs.bk
node_modules
app/node_modules
front/node_modules
back/node_modules
test-ledger
static
registry(react.js)
reactApp/node_modules
target
registry(react.js)
/.anchor

whitepaper.md
cli/node_modules
trash
registry/node_modules
tmp
.next