.app {
  display: flex;
  height: 100vh !important;
  flex-direction: column;
}
a {
  color: gold;
}
a:hover {
  color: lightgoldenrodyellow;
}
button {
  background-color: darkgoldenrod !important;
}
.bt {
  color: black;
}
.npf {
  display: flex;
  flex-direction: column;
  padding: 10% 35% 10% 35%;
}
li {
  list-style: none;
}
