.app {
  display: flex;
  height: 100vh !important;
  flex-direction: column;
}
a {
  color: gold;
}
a:hover {
  color: lightgoldenrodyellow;
}
button {
  background-color: darkgoldenrod !important;
}
.bt {
  color: black;
}
