:root {
  --primary: #d4ac34;
  --secondary: #2d2d2d;
}

.w-100 {
  width: 100%;
}

.w-20 {
  width: 20%;
}

.section-title {
  font-size: 1.6em;
  font-weight: 900;
  margin-bottom: 10px;
  &::after {
    content: '';
    display: block;
    width: 90px;
    height: 5px;
    background: var(--primary);
  }
}

section {
  margin-top: 25px;
  margin-bottom: 25px;
}

.rounded-input {
  border-radius: 50px !important;
  * {
    margin-top: 0 !important;
  }
  .v-input__slot {
    min-height: 0 !important;
    padding: 3px 3px 3px 0px !important;

    input {
      color: #fff !important;
      &::placeholder {
        color: rgba($color: #fff, $alpha: 0.8) !important;
      }
    }
  }
}

.v-text-field--outlined fieldset {
  border-color: #fff !important;
}
